{% extends 'tutorial/layout.html' %}


{% block title %}
    {{ course.title }}
{% endblock title %}
    


{% block content %}
    <div class="row section_1">
        <div class="col-md-3">

            <h3 class="mt-5">Categories</h3>
            <ul>
            
                <li {% if not categories %}class="selected"{% endif %}>
                   <a href="{% url 'tutorial:courses' %}">All</a>
                </li>
  
            
                {% for c in categories %}
                 <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                     <a href="{{ c.get_absolute_url }}"> {{ c.name }}</a>
                 </li>
                
                {% endfor %}     
            </ul>

        </div>

        <div class="col-md-9">
            <h1 class="my-5">Youtube video tutorial</h1>

            <div class="vid-box">
                {{ course.embed_code | safe }}
            </div>
            <h3 class="mt-3"> <strong>{{ course.title }}</strong></h3>
            

            <div class="desc_bg">

                <p>{{ course.description }}</p>
 
            </div>





        </div>
        

    </div>
{% endblock content %}
    