.section_1{
    width: 80%;
    margin: auto;
}

.vid-box{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /*Aspect ration 9/16*100 */
    border-radius: 10px;
}


.vid-box iframe {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.desc_bg{
    background-color:aliceblue;
    min-height: 30px;
    border-radius: 5px;
    padding: 15px;

}