{% extends 'myport/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   Contact Etintech
{% endblock title %}
   



{% block content %}
<div class="row contact-banner">
    <h2>Contact us for more information</h2>
    <h4>Send us a message</h4>
    
 <div class="contact-form-box"> 
     
     {% if sent %}
      <h1>Email sent successfully </h1>
       <p>Thank you <strong>{{ form.cleaned_data.full_name }}</strong></p>
      <p>Your message was successfully sent to our admin.</p>
      {% else %}
      <form method="post">
         {{form|crispy}}
         {% csrf_token %}
         <input type="submit" value="Send Email">
        </form>
      
     {% endif %}

    
      
 </div>
</div>
{% endblock content %}
    