{% extends 'myport/base.html' %}
{% load static %}

{% block title %}
    {{ portfolio.title }}
{% endblock title %}
    



{% block content %}

<div class="row"> 
     <div class="col-md-2">
          <p  style="color: #5993bb;" > <a onclick="portSideNav();"  href="#"> <i class="fa-solid fa-list fa-lg btn-icon"></i></a> </p> 

               <div class="port-side-nav" onmouseout="closeNav();"> 
                      <div class="row">
                           <div class="col d-flex">
                             <a onclick="closeNav();" id="nav-close" href="#"> <i class="fa-solid fa-list fa-lg btn-icon"></i> </a>
                             <span class="mx-3"> <a href="{% url 'myport:about' %}"> <img class="rounded-circle img-fluid nav-img-control" src="{% static 'img/IMG_5577.jpeg' %}" > </a> </span>
                             <br>
                              <span> <h5 style="color: #5993bb;"> <a href="{% url 'myport:about' %}">Peter O</a> </h5></span>
                         </p>
                      </div>

                      <div class="row">
                           <div class="col mt-3">
                             <a href="{% url 'feed:index' %}"><p><i class="fa-solid fa-house"></i>  <span class="mx-3"> Home </span> </p></a>
                             <p><a href="{% url 'myport:portfolio' %}"><i class="fa-brands fa-r-project"></i><span class="mx-3">Portfolio </span></a> </p>
                             <p><a href="{% url 'myport:contact' %}"><i class="fa-solid fa-address-card"></i> <span class="mx-3"> Contact </span></a></p>
                           
                           </div>
                      </div>
                  
               </div>


       </div>
     </div>

     <div class="col-md-10">
          <h1>{{ portfolio.category }}</h1>
          <hr>
     </div>
</div>

<div class="row">
       <div class="col-md-6">  
            <div class="iframe-container">
               <a href="{{ post.get_absolute_url }}">
                   <p> {{ portfolio.embed_code | safe }}  </p><!-- | safe is use to render HTML  -->
                    </a>
              
           </div>
           <div class="mt-3"> <h3> {{ portfolio.title }}</h3></div>


      </div>

      <div class="col-md-6">
              <h1>{{ portfolio.title }}</h1>
              <p> {{ portfolio.description }} </p>
                    <hr>
              <h3>Source code </h3>
              <p><b>Github:</b> <a href="{{ portfolio.github }}" target="_blank"> {{ portfolio.github }}</a> </p>
              <hr>
              <h3>Project Url </h3>
              <p><b>Website:</b> <a href="{{ portfolio.website_url }}" target="_blank"> {{ portfolio.website_url }} </a>  </p>
              
      </div>
        

 </div>
 <hr>

 <div class="row">

     <img src="{{ portfolio.image.url }}">
 </div>



{% endblock content %}





              
              