{% extends 'myport/base.html' %}
{% load static %}


{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-3">
    <p>Logged in user: <b>{{ request.user }}</b></p>
  </div>

  <div class="col-md-9">
    <div class="d-flex flex-row-reverse">
      <div ><p style="padding-right: 35px;"><b>Etintech</b></p></div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3">
      <div class="card" style="width: 18rem;">
          <div class="card-header">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'dash:dashboard-admin' %}">View Post</a></li>
            <li class="list-group-item" id="open-port-form">Post Portfolio</li>
          </ul>
        </div>

  </div>

  <div class="col-md-9 px-5">
      <div class="port-list">

      </div>

  </div>


</div>
   {% include 'dash/modal.html' %}


{% else %}
  
{% endif %}
  






     
{% endblock content %}
    